/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --bgClr: #f8eeff;
  --font: "Work Sans", sans-serif;
  --headingClr: #301534;
  --textClr: #8b6990;
  --iconClr: #ad28eb;
}

/* --- MAIN CSS --- */

body {
  font-family: var(--font);
  background-color: var(--bgClr);
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.decorative {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-image: url(../assets/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  @media screen and (max-width: 450px) {
    background-image: url(../assets/background-pattern-mobile.svg);
  }
}

main {
  width: 90vw;
  max-width: 600px;
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);

  @media screen and (max-width: 450px) {
    padding: 24px;
  }
}

/* --- HEADER COMPONENT --- */

header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  & h1 {
    margin-left: 24px;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--headingClr);
  }

  .icon {
    color: var(--iconClr);
    font-size: 38px;
  }

  @media screen and (max-width: 450px) {
    & h1 {
      font-size: 2rem;
    }

    .icon {
      font-size: 24px;
    }
  }
}

/* --- QUESTION COMPONENT --- */

.single-question {
  padding: 24px 0;
  border-bottom: 1px solid var(--bgClr);

  .question-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &:hover > h2 {
      transition: 250ms ease;
      color: var(--iconClr);
    }

    & h2 {
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--headingClr);

      @media screen and (max-width: 450px) {
        font-size: 1rem;
      }
    }

    .toggle-icon {
      font-size: 26px;
    }
  }

  & p {
    margin-top: 28px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--textClr);

    @media screen and (max-width: 450px) {
      font-size: 0.875rem;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}
